# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/

# Tests & Coverage
.pytest_cache/
pytest_cache/
.coverage
htmlcov/

# IDEs
.idea/
.vscode/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Project Specific
error_log.txt
test.db
*.db
*.sqlite3
static/invoices/*.pdf
static/invoices/combined_*.pdf
alembic/versions/__pycache__/

# Structural Frontend Apps (Do not track in backend repo)
meat_admin/
meat_customer_web/
meat_customer/
meat_logistic/
*.apk

# Miscellaneous
*.class
*.log
*.pyc
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

